  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> <strong><%= restaurant.name %></strong></h5>
    <h6 class="card-subtitle mb-2 text-muted"><strong>Phone number:</strong> <%= restaurant.phone_number %></h6>
    <p class="card-text"><strong> Category:</strong> <%= restaurant.category %></p>
    <p class="card-text"><strong>Address:</strong> <%= restaurant.address %></p>
  </div>
</div>
